.new-career {
	width: 500px;
	margin: 20px auto;
}

.new-career-header {
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
}

.new-career-body h2 {
	font-size: 20px;
}

.project-name {
	width: 500px;
	font-size: 20px;
	margin-bottom: 20px;
	border: 2px #cccccc solid;
	border-radius: 4px;
	padding: 0.3em;
}

.project-detail {
	width: 500px;
	height: 100px;
	font-size: 20px;
	margin-bottom: 20px;
	border: 2px #cccccc solid;
	border-radius: 4px;
	padding: 0.3em;
}

.project-name:focus {
	outline: none;
	border-color: #87CEEB;
}

.project-detail:focus {
	outline: none;
	border-color: #87CEEB;
}

.check-area {
	border: 2px #cccccc solid;
	margin-bottom: 20px;
	padding: 10px;
}

.check-area input,
.check-area label {
	cursor: pointer;
}

.project-span-area {
	display: flex;
	height: 40px;
	line-height: 40px;
}

.project-span {
	font-size: 20px;
	border: 2px #cccccc solid;
	border-radius: 4px;
	padding: 0.3em;
	margin-left: 60px;
}

.project-span:focus {
	outline: none;
	border-color: #87CEEB;
}

.new-button-area {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}

.new-button {
	width: 200px;
	height: 50px;
	color: #ffffff;
	background-color: #4169E1;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
}

.new-button:hover {
	opacity: 0.8;
}
