<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"></meta>
</head>
<body>
  <div th:fragment="new_contents">
    <div class="new-career">
      <div class="new-career-header">
        <h1>経歴作成</h1>
      </div>
      <div class="new-career-body">
        <form method="post" th:action="@{/new}" th:object="${careerForm}">
          <h2>案件名</h2>
          <input type="text" class="project-name"/>
          <h2>案件概要</h2>
          <textarea class="project-detail"></textarea>
          <h2>言語</h2>
          <div class="check-area">
            <span th:each="programingLanguage:${checkProgramingLanguage}">
              <input type="checkbox" name="checkProgramingLanguage"
              th:value="${programingLanguage.value}" 
              th:text="${programingLanguage.key}" />
            </span>
          </div>
          <h2>OS</h2>
          <div class="check-area">
            <span th:each="OS:${checkOS}">
              <input type="checkbox" name="checkOS" 
              th:value="${OS.value}" th:text="${OS.key}" />
            </span>
           </div>
           <h2>担当領域</h2>
           <div class="check-area">
             <span th:each="job:${checkJob}">
               <input type="checkbox" name="checkJob"
               th:value="${job.value}" th:text="${job.key}" />
             </span>
           </div>
           <div class="project-span-area">
             <h2>在籍期間</h2>
             <div><input type="number" class="project-span"/>ヶ月</div>
           </div>
           <br />
           <div class="new-button-area">
             <button type="submit" class="new-button">作成する</button>
           </div>
        </form>
      </div>
    </div>
  </div>