<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"></meta>
  <title>IT Career</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <link rel="stylesheet" th:href="@{css/reset.css}" />
  <link rel="stylesheet" th:href="@{css/career/index.css}" />
  <link rel="stylesheet" th:href="@{css/career/show.css}" />
  <link rel="stylesheet" th:href="@{css/career/new.css}" />
  <link rel="stylesheet" th:href="@{css/career/edit.css}" />
</head>
<body>
  <nav class="template-header">
    <div class="app-title">
      <a th:href="@{/careers}">IT Career</a>
    </div>
    <ul class="app-nav">
      <li>
        <a th:href="@{/userList}">ユーザー選択</a>
      </li>
      <li>
        <a th:href="@{/new}">経歴作成</a>
      </li>
      <li>
        <form method="post" th:action="@{/logout}">
          <button type="submit" class="logout-button">ログアウト</button>
        </form>
      </li>
    </ul>
  </nav>
  <div class="main-contents">
    <div th:include="__${contents}__"></div>
  </div>
  <script th:src="@{js/career/index.js}"></script>
  <script th:src="@{js/career/show.js}"></script>
</body>
</html>