body {
	background-color: #f5f5f5;
}

.container {
	width: 500px;
	margin: 50px auto;
	background-color: #ffffff;
}

.header {
	height: 100px;
	text-align: center;
	font-size: 50px;
	line-height: 100px;
}

.main {
	width: 250px;
	margin: 10px auto;
}

form > input {
	width: 242px;
	height: 20px;
	margin-bottom: 15px;
}

.login-button {
	width: 150px;
	height: 60px;
	margin: 0 auto;
	line-height: 60px;
}

.login-button > button {
	width: 150px;
	height: 40px;
	color: #ffffff;
	background-color: #4169E1;
	cursor: pointer;
}

.login-button > button:hover {
	opacity: 0.8;
}

a {
	display: block;
	text-decoration: none;
	color: #4169E1;
	text-align: right;
}