body {
	background-color: #f5f5f5;
}

.container {
	width: 500px;
	margin: 50px auto;
	background-color: #ffffff;
}

.header {
	height: 100px;
	text-align: center;
	font-size: 50px;
	line-height: 100px;
}

.main {
	width: 350px;
	margin: 10px auto;
}

.input-area {
	margin-bottom: 15px;
}

.input-area > input {
	width: 350px;
	height: 30px;
	font-size: 15px;
}

.signup-button {
	width: 150px;
	height: 60px;
	margin: 0 auto;
	padding-top: 10px;
}

.signup-button > button {
	width: 150px;
	height: 40px;
	color: #ffffff;
	background-color: #4169E1;
	cursor: pointer;
}

.signup-button > button:hover {
	opacity: 0.8;
}

a {
	display: block;
	text-decoration: none;
	color: #4169E1;
	text-align: right;
}

.input-error {
	color: red;
	font-size: 14px;
}
