<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <title>IT Career</title>
  <link rel="stylesheet" th:href="@{css/reset.css}">
  <link rel="stylesheet" th:href="@{css/login/login.css}">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Log in</h1>
    </div>
    <div class="main">
      <form method="post" action="/login">
        <h2>メールアドレス</h2>
        <input type="email" />
        <h2>パスワード</h2>
        <input type="password" />
        <div class="login-button">
          <button type="submit">ログイン</button>
        </div>
      </form>
      <a th:href="@{/signup}">新規登録はこちら</a>
    </div>
  </div>
</body>
</html>