<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <title>IT Career</title>
  <link rel="stylesheet" th:href="@{css/reset.css}">
  <link rel="stylesheet" th:href="@{css/login/signup.css}">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Sign up</h1>
    </div>
    <div class="main">
      <form method="post" th:action="@{/signup}" th:object="${signupForm}">
        <div class="label-name">ユーザー名</div>
        <div class="input-area" 
        th:classappend="${#fields.hasErrors('userName')}? 'has-error'">
          <input type="text" th:field="*{userName}" />
          <span class="input-error" th:if="${#fields.hasErrors('userName')}"
          th:errors="*{userName}">userName error</span>
        </div>
        <div class="label-name">メールアドレス</div>
        <div class="input-area"
        th:classappend="${#fields.hasErrors('email')}? 'has-error'">
          <input type="text" th:field="*{email}" />
          <span class="input-error" th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}">email error</span>
        </div>
        <div class="label-name">パスワード</div>
        <div class="input-area"
        th:classappend="${#fields.hasErrors('password')}? 'has-error'">
          <input type="password" th:field=*{password} />
          <span class="input-error" th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">password error</span>
        </div>
        <div class="signup-button">
          <button type="submit">ユーザー登録</button>
        </div>
      </form>
      <a th:href="@{/login}">ログインはこちら</a>
    </div>
  </div>
</body>
</html>